*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
}

.toolbox-cont{
    height: 5rem;
    background-color: black;
    display: flex;
    align-items: center;
    border: solid 2px red;
}

.toolbox-priority-cont{
    height: 3rem;
    background-color: beige;
    width: 24rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.action-btn-cont{
    background-color: beige;
    height: 3rem;
    width: 10rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.color{
    height: 1.5rem;
    width: 3rem;
}

.lightpink{
    background-color:lightpink;
    width: 5rem;
    height: 2rem;
}

.blue{
    background-color:lightblue;
    width: 5rem;
    height: 2rem;
}

.green{
    background-color:lightgreen;
    width: 5rem;
    height: 2rem;
}
.black{
    background-color:black;
    width: 5rem;
    height: 2rem;
}

.add-btn{
    font-size: 1.5rem;
}

.remove-btn{
    font-size: 1.5rem;
}

.addcontainer{
    display: flex;
    width: 34rem;
    height: 20rem;
    margin-left: 25rem;
    /* margin-top: 5rem; */
}
.content{
    background-color: lightcoral;
    width: 24rem;
    height: 20rem;
}
.sidebar{
    background-color: lightseagreen;
    width: 10rem;
    height: 20rem;
    
}
.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.maincontainer{
    background-color: blue;
    width: 95rem;
    height :36rem;
    padding-top: 2rem;
}